* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.Loading-Slider {
  visibility: hidden !important;
}

.App-header {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 15px;
  color: #2d3a4c;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  font-weight: 300;
}

.Visible-Header {
  background-color: #dfe8e8c8;
  position: fixed;
  top: 0;
  left: 0;
}

.Header-nav-container, .Header-link-text {
  display: none;
}

.Full-page-nav {
  background-color: #2d3a4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 50px);
  padding: 30px;
  gap: 20px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 80;
  bottom: 0;
}

.Nav-inner-link {
  text-transform: uppercase;
}

.Header-right-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 130px;
      flex-basis: 130px;
  align-items: center;
}

.Header-language-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
}

.Header-language-button {
  padding: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #2d3a4c;
  background: none;
  border: 1px solid #2d3a4c;
}

.Highlighted-button {
  background-color: #2d3a4c;
  color: #aebcc0;
  border: 1px solid #aebcc0;
}

.Header-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
}

.Header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #2d3a4c;
}

.Header-link :hover {
  color: #f6e145;
}

.Invisible-nav {
  display: none;
}

.Nav-Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  color: #2d3a4c;
}

.Nav-inner-link {
  text-decoration: none;
  color: #2d3a4c;
  color: #aebcc0;
}

.Nav-inner-link :hover {
  color: #f6e145;
}

.Nav-link {
  text-decoration: none;
  color: #2d3a4c;
}

.Nav-link :hover {
  color: #f6e145;
}

.Nav-link:hover {
  color: #f6e145;
  text-decoration: underline;
}

.swiper {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  .Header-nav-container {
    display: block;
  }
  .Header-link-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Header-nav-container {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: space-between;
    color: #2d3a4c;
  }
  .App-header {
    height: 70px;
  }
  .Header-right-content-container {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 5px;
  }
  .Header-links-container {
    width: 400px;
  }
  .Nav-Button {
    display: none;
  }
  .Header-link-mobile-Icon {
    display: none !important;
  }
}

.Promotion-container {
  padding: 30px;
  background-color: #dfe8e8;
  min-height: 100vh;
}

.Main-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  flex-direction: column;
}

.Main-description-container {
  width: 100%;
  -ms-flex-preferred-size: 70vh;
      flex-basis: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url(./img/main_page_background.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.Main-text-container {
  background-color: #dfe8e8;
  color: #2d3a4c;
  min-height: 30vh;
  width: 100%;
  font-size: 110%;
  padding: 20px;
  text-align: justify;
  border-top: 3px solid #626c74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.Main-extra-title-container, .Main-extra-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.Main-extra-title-container {
  height: 30vh;
  padding-bottom: 90px;
}

.Main-extra-text-container {
  min-height: 15vh;
  padding-top: 0;
  font-size: 90%;
}

@media screen and (max-height: 650px) {
  .Main-extra-title-container {
    min-height: 30vh;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1330px) and (min-height: 700px) {
  .Extra-line-div {
    display: none;
  }
  .Main-text-container {
    height: 30vh;
  }
  .Main-extra-title-container {
    height: 7vh;
  }
  .Main-extra-text-container {
    height: 23vh;
  }
  .Main-extra-title-container, .Main-extra-text-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-height: 650px) {
  .Main-extra-title-container {
    min-height: 30vh;
    padding-bottom: 30px;
  }
}

.Extra-line-div {
  width: 70%;
  height: 1.5px;
  background-color: #2d3a4c;
}

@media screen and (max-height: 650px) {
  .Main-description-container {
    -ms-flex-preferred-size: 450px;
        flex-basis: 450px;
  }
}

@media screen and (min-width: 600px) {
  .Main-description-container {
    padding-top: 70px;
  }
}

.MainTitle {
  text-align: center;
  background: none;
  color: #626c74;
  font-size: 350%;
  width: 100%;
  margin-left: 30px;
  font-weight: 600;
}

@media screen and (min-width: 900px) {
  .MainTitle {
    font-size: 500%;
  }
}

.MainTitle-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Main-text-title {
  text-align: center;
  font-weight: 600;
}

.Main-description-block {
  background-color: #626c7481;
  color: #dfe8e8;
  font-weight: 900;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-size: 100%;
  text-transform: uppercase;
  width: 60vw;
}

@media screen and (min-width: 500px) {
  .Main-description-block {
    font-size: 120%;
    font-weight: 1000;
  }
}

.Second-block {
  width: 70vw;
}

.Third-block {
  width: 80vw;
}

.Fourth-block {
  width: 90vw;
}

@media screen and (min-aspect-ratio: 1.2 / 1) {
  .Main-description-block {
    width: 35vw;
  }
  .Second-block {
    width: 40vw;
  }
  .Third-block {
    width: 45vw;
  }
  .Fourth-block {
    width: 50vw;
  }
  .Main-carousel-container {
    width: 80vw;
    max-height: 30vw;
  }
  .Main-description-container {
    gap: 40px;
  }
}

.Advantages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #dfe8e8;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
  background-color: #2d3a4c;
}

.Advantages-list {
  color: #f6e145;
}

.Advantages-list-item {
  list-style-type: square;
  list-style-position: inside;
  color: #dfe8e8;
}

.Advantages-list-title {
  color: #dfe8e8;
  margin-bottom: 20px;
}

.Main-carousel-container {
  width: 80vw;
  min-height: 60vw;
  position: relative;
}

.Slider-image {
  width: 100%;
  height: 100%;
  min-height: auto;
  position: absolute;
  border: 3px solid #f6e145;
}

@media screen and (min-width: 1000px) {
  .Advantages-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
  .Main-carousel-container {
    width: 500px;
    min-height: 380px;
  }
}

.Floor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Floor-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  gap: 10px;
  background-color: #aebcc0;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px 0 10px;
}

.Floor-title-icon-container {
  position: relative;
  height: 200px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
}

.House-icon {
  position: absolute;
  left: 0;
  right: 0;
}

.House-window-icon {
  position: absolute;
  left: 0;
  right: 0;
  left: 15px;
  width: 32px;
}

.Third-Floor-Window-Icon {
  top: 68px;
}

.Fourth-Floor-Window-Icon {
  top: 34px;
}

.Floor-title {
  font-weight: 600;
  font-size: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #2d3a4c;
}

@media screen and (min-width: 500px) {
  .Floor-title {
    font-size: 200%;
  }
}

@media screen and (min-width: 1000px) {
  .Floor-title {
    font-size: 300%;
    margin-left: 20px;
  }
}

.Floor-Plan-Link {
  margin: 30px 0;
  padding: 30px 0;
}

.Floor-Plan-Extra-Container {
  position: relative;
}

.Main-Image {
  width: 270px;
  min-height: 100px;
  visibility: hidden;
}

.Full-Image {
  visibility: visible;
}

.First-Part, .Second-Part, .Third-Part, .Fourth-Part, .Fifth-Part, .Sixth-Part {
  position: absolute;
}

.First-Part {
  width: 62px;
  top: 5px;
  left: 12px;
}

.Second-Part {
  width: 18.5px;
  top: 5px;
  left: 73.7px;
}

.Third-Part {
  width: 40px;
  top: 5px;
  left: 91px;
}

.Main-Fourth-Part {
  width: 80px;
  top: 5px;
  left: 130px;
}

.Extra-Fourth-Part {
  width: 49px;
  top: 39px;
  left: 209px;
}

.Fifth-Part {
  width: 69px;
  top: 46.5px;
  left: 12px;
}

.Sixth-Part {
  width: 70px;
  top: 46px;
  left: 80.5px;
}

.First-Third-Part {
  width: 138px;
  top: 25px;
  left: 12px;
}

.Second-Third-Part {
  width: 61px;
  top: 25.5px;
  left: 148px;
}

.Third-Third-Part {
  width: 47px;
  top: 60.5px;
  left: 208px;
}

@media screen and (min-width: 500px) {
  .Main-Image {
    width: 490px;
    min-height: 195px;
  }
  .First-Part {
    width: 111px;
    top: 8px;
    left: 22.5px;
  }
  .Second-Part {
    width: 32.5px;
    top: 8px;
    left: 133px;
  }
  .Third-Part {
    width: 71px;
    top: 8px;
    left: 164px;
  }
  .Main-Fourth-Part {
    width: 143px;
    top: 8px;
    left: 232px;
  }
  .Extra-Fourth-Part {
    width: 90px;
    top: 68px;
    left: 375px;
  }
  .Fifth-Part {
    width: 124px;
    top: 83.5px;
    left: 22px;
  }
  .Sixth-Part {
    width: 124.5px;
    top: 84px;
    left: 144.5px;
  }
  .First-Third-Part {
    width: 250px;
    top: 47px;
    left: 20.5px;
  }
  .Second-Third-Part {
    width: 110px;
    top: 47.5px;
    left: 268px;
  }
  .Third-Third-Part {
    width: 85px;
    top: 111px;
    left: 376px;
  }
}

@media screen and (min-width: 900px) {
  .Main-Image {
    width: 890px;
  }
  .First-Part {
    width: 202px;
    top: 14px;
    left: 40.5px;
  }
  .Second-Part {
    width: 60px;
    top: 13.5px;
    left: 241px;
  }
  .Third-Part {
    width: 129.5px;
    top: 14px;
    left: 300px;
  }
  .Main-Fourth-Part {
    width: 262px;
    top: 14px;
    left: 425px;
  }
  .Extra-Fourth-Part {
    width: 164px;
    top: 124.5px;
    left: 685px;
  }
  .Fifth-Part {
    width: 228px;
    top: 159px;
    left: 40px;
  }
  .Sixth-Part {
    width: 229.2px;
    top: 159px;
    left: 265.5px;
  }
  .First-Third-Part {
    width: 459px;
    top: 87px;
    left: 40.5px;
  }
  .Second-Third-Part {
    width: 204px;
    top: 87.5px;
    left: 496px;
  }
  .Third-Third-Part {
    width: 162px;
    top: 203px;
    left: 697px;
  }
}

.Floor-Plan-Hover-Image:hover {
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

.Fourth-Part-Hover {
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

.Floor-Details-Main-Container {
  padding: 30px;
  background-color: #dfe8e8;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 600px) {
  .Floor-Details-Main-Container {
    gap: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .Floor-Details-Main-Container {
    gap: 90px;
  }
}

@media screen and (min-width: 600px) {
  .Floor-Details-Main-Container {
    padding-top: 90px;
  }
}

@media screen and (min-width: 1000px) {
  .Floor-Details-Main-Container {
    padding-top: 120px;
    gap: 50px;
  }
}

.Floor-Details-Title-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  color: #2d3a4c;
  gap: 10px;
  background-color: #f6e145;
  padding: 5px;
  width: 100%;
}

@media screen and (min-width: 400px) {
  .Floor-Details-Title-Container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1200px;
  }
}

.Floor-Details-Title {
  font-size: 130%;
  font-weight: 600;
  letter-spacing: 3px;
}

@media screen and (min-width: 900px) {
  .Floor-Details-Title {
    font-size: 200%;
  }
  .Floor-Details-Status {
    font-size: 130%;
  }
}

.Floor-Details-Content-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

@media screen and (min-width: 600px) {
  .Floor-Details-Content-Container {
    gap: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .Floor-Details-Content-Container {
    gap: 90px;
  }
}

@media screen and (min-width: 600px) {
  .Floor-Details-Content-Container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1200px;
  }
}

.Floor-Extra-Advantages-Container {
  padding-top: 30px;
  border-top: 3px solid #f6e145;
}

@media screen and (min-width: 600px) {
  .Floor-Extra-Advantages-Container {
    width: 1200px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1260px) {
  .Floor-Extra-Advantages-Container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.Floor-Advantages-List-Item {
  list-style-type: disc;
  list-style-position: inside;
}

@media screen and (min-width: 850px) {
  .Floor-Advantages-List-Item {
    font-size: 110%;
  }
}

.Floor-Inner-Image-Extra-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.Floor-Inner-Image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 35px;
  height: 180px;
  width: 300px;
}

@media screen and (min-width: 600px) {
  .Floor-Inner-Image-Extra-Container {
    position: relative;
    width: 520px;
    height: 130px;
  }
  .Floor-Inner-Image {
    position: absolute;
    top: 0;
    height: 120px;
    width: 160px;
    padding: 20px;
  }
  .Floor-Inner-Firt-Image {
    left: 0;
  }
  .Floor-Inner-Second-Image {
    left: 180px;
  }
  .Floor-Inner-Third-Image {
    left: 350px;
  }
}

@media screen and (min-width: 860px) {
  .Floor-Inner-Image-Extra-Container {
    width: 800px;
    height: 220px;
  }
  .Floor-Inner-Image {
    height: 190px;
    width: 260px;
    padding: 45px;
  }
  .Floor-Inner-Firt-Image {
    left: 0;
  }
  .Floor-Inner-Second-Image {
    left: 273px;
  }
  .Floor-Inner-Third-Image {
    left: 546px;
  }
}

@media screen and (min-width: 1260px) {
  .Floor-Inner-Image-Extra-Container {
    width: 1200px;
    height: 270px;
  }
  .Floor-Inner-Image {
    height: 260px;
    width: 386.5px;
  }
  .Floor-Inner-Firt-Image {
    left: 0;
  }
  .Floor-Inner-Second-Image {
    left: 406.5px;
  }
  .Floor-Inner-Third-Image {
    left: 813px;
  }
}

.Floor-Details-Status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-weight: 700;
}

.Contacts-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #dfe8e8;
  min-height: 100vh;
  gap: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #2d3a4c;
}

@media screen and (min-width: 600px) {
  .Contacts-Container {
    gap: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .Contacts-Container {
    gap: 90px;
  }
}

.Contacts-Form-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  border: 2px solid red;
}

.Contacts-Map-Container, .Contacts-Information-Container {
  background-color: #aebcc0;
  height: 300px;
  width: 100%;
}

.Contacts-Form {
  position: relative;
  width: 220px;
  height: 280px;
  overflow: hidden !important;
}

.Contacts-Form-House-Icon, .Contacts-Form-Window-Icon, .Contacts-Form-Input {
  position: absolute;
  top: 10;
  left: 0;
}

.Contacts-Form-House-Icon {
  width: 217px;
  height: 275px;
}

.Contacts-Form-Window-Icon {
  width: 127px;
  left: 29px;
  visibility: hidden;
}

.Contacts-Form-Input {
  width: 124px;
  height: 60px;
  left: 29px;
  padding: 7px;
  font-size: 70%;
  background: none !important;
  border: none !important;
  color: #2d3a4c !important;
  resize: none;
}

.Contacts-Form-Input:focus {
  outline: none;
  background: none;
  color: #2d3a4c;
  overflow-y: auto;
}

.Activated-Input {
  visibility: visible;
}

.First-Window-Icon, .First-Form-Input {
  top: 51px;
}

.Second-Window-Icon, .Second-Form-Input {
  top: 122px;
}

.Third-Window-Icon, .Third-Form-Input {
  top: 192px;
}

@media screen and (min-width: 430px) {
  .Contacts-Form {
    width: 340px;
    height: 420px;
  }
  .Contacts-Form-House-Icon {
    width: 337px;
    height: 420px;
  }
  .Contacts-Form-Window-Icon {
    width: 190px;
    left: 47px;
  }
  .Contacts-Form-Input {
    height: 82px;
    width: 190px;
    left: 49px;
    padding: 10px;
    font-size: 80%;
  }
  .First-Window-Icon, .First-Form-Input {
    top: 80px;
  }
  .Second-Window-Icon, .Second-Form-Input {
    top: 184px;
  }
  .Third-Window-Icon, .Third-Form-Input {
    top: 290px;
  }
}

.Footer-container {
  background-color: #93384a;
  border: 2px solid #93384a;
  height: 500px;
  color: red;
}
/*# sourceMappingURL=App.css.map */