// $headerMenuColor: blue;
// $backgroundColor: white;
// $mainFontSize: 90%;
$firstDetailsColor: #93384a;
$secondDetailsColor: #f6e145;
$firstLightColor: #2d3a4c;
$secondLightColor: #626c74;
$thirdLightColor: #dfe8e8;
$darkColor: #aebcc0;
$opacityBlocksColor: #626c7481;
$opacityHeaderColor: #dfe8e8c8;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    // font-size: $mainFontSize;
  }
  
//   :root {
//     /* --main-font: "Roboto", 'Open Sans', sans-serif; */
//     --main-font-size: 90%;
//     --first-details-color: #93384a;
//     --second-details-color: #ffd24d;
//     --first-light-color: #c6b8b8;
//     --second-light-color: #d6d5d5;
//     --third-light-color: #fdfdfd;
//     --dark-color: #333;
//   }

// Mixins

@mixin desctop-only-items {
    display: none;     
}

@mixin inline-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

@mixin standart-button-styles {
    padding: 2px;
    align-items: center;
    cursor: pointer;
}

@mixin standart-flex-container {
    flex-grow: 0;
    flex-shrink: 0;
}

@mixin link-styles {
    text-decoration: none;
    color: $firstLightColor;
    :hover {
        color: $secondDetailsColor;
    }
}

@mixin standart-page {
    // padding: 90px 30px 30px 30px;
    padding: 30px;
    background-color: $thirdLightColor;
    min-height: 100vh;
}

.Loading-Slider {
    visibility: hidden!important;
}
  
// Header styles
  
  .App-header {
    // width: 100%;

    background: none;
    // background-color: pink;
    @include inline-container();
    padding: 7px 15px;
    color: $firstLightColor;
    width: 100%;
    height: 50px;
    // position: fixed;
    position: absolute; 
    top: 0; 
    left: 0; 
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    // padding: 0 20px;
    z-index: 90;
    font-weight: 300
  }
  
  .Visible-Header {
   background-color: $opacityHeaderColor;
   position: fixed;
   top: 0;
   left: 0;
  }

  .Header-nav-container , .Header-link-text {
    @include desctop-only-items();
  }

  $navWidth: calc(100% - 50px);

  .Full-page-nav {
    background-color: $firstLightColor;
    display: flex;
    flex-direction: column;
    height: $navWidth;
    // height: $navWidth;
    padding: 30px;
    gap: 20px;
    width: 100%;
    position: fixed; 
    left: 0; 
    bottom: 0; 
    z-index: 80;
    bottom: 0;
  }

  .Nav-inner-link {
    text-transform: uppercase;

  }

  .Header-right-content-container {
    @include inline-container();
    @include standart-flex-container();
    flex-basis: 130px;
    align-items: center;
    
  }

  .Header-language-buttons-container {
    @include inline-container();
    width: 90px;
  }

  .Header-language-button {
    @include standart-button-styles();
    color: $firstLightColor;
    background: none;
    border: 1px solid $firstLightColor;
  }

  .Highlighted-button {
    background-color: $firstLightColor;
    color: $darkColor;
    border: 1px solid $darkColor;
  }

  .Header-links-container {
    @include inline-container();
    width: 80px;
  }

  .Header-link {
    @include inline-container();
    @include link-styles()
  }

  .Invisible-nav {
    @include desctop-only-items()
  }

  .Nav-Button {
    @include inline-container();
    background: none;
    border: none;
    color: $firstLightColor;
  }

  .Nav-inner-link {
    @include link-styles();
    color: $darkColor;
  }

  .Nav-link {
    @include link-styles();
  }

  .Nav-link:hover {
    color: $secondDetailsColor;
    text-decoration: underline;
  }

  .swiper {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
//   .swiper-slide img {
//     display: block;
//     width: 100%;
//   }

  @media screen and (min-width: 600px){
   .Header-nav-container {
        display: block;
    }

    .Header-link-text {
        display: flex;
        justify-content: center;
        align-items: center
      }

    .Header-nav-container {
        width: 360px;
        @include inline-container();
        justify-content: space-between;
        color: $firstLightColor;
    }

    .App-header {
        height: 70px;
    }
    .Header-right-content-container {
        flex-basis: 70%;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
    .Header-links-container {
        width: 400px;
    }
    .Nav-Button {
        display: none;
    }
    .Header-link-mobile-Icon {
        display: none!important;
    }    
    
  }


//   Main styles

 .Promotion-container, .Offices-container {
  @include standart-page()
}

@mixin basic-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Main-Container {
    @include basic-flex-container;
    padding-left: 0;
    flex-direction: column;
    // background-position-y: -300px;
}

// @media screen and (min-aspect-ratio: 25/15)and (max-height: 550px){
//     .Main-Container {
//         background-position-y: -300px;
//        background-position-x: 1%;
//     }
//  }

 .Main-description-container {
    width: 100%;
    // @include standart-flex-container;
    flex-basis: 70vh;
    @include basic-flex-container;
    // gap: 20px;
    align-items: flex-start;
    justify-content: space-around;
    background: url(./img/main_page_background.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 20px;
 }

 .Main-text-container {
    background-color: $thirdLightColor;
    color: $firstLightColor;
    // height: 30vh;
    min-height: 30vh;
    width: 100%;
    font-size: 110%;
    padding: 20px;
    text-align: justify;
    border-top: 3px solid $secondLightColor;
    @include inline-container();
    flex-direction: column;
    // gap: 20px
 }

 .Main-extra-title-container, .Main-extra-text-container {
    @include inline-container();
    flex-direction: column;
    justify-content: center;
    gap: 20px;
 }

 .Main-extra-title-container {
    height: 30vh;
    padding-bottom: 90px;
 }

 .Main-extra-text-container {
    min-height: 15vh;
    padding-top: 0;
    font-size: 90%;
 }

//  Test!!!!!!!!!!!!!!!!!

// .Main-extra-title-container, .Main-extra-text-container  {
//     height: 15vh;
//     font-size: 90%!important;
//  }

@media screen and (max-height: 650px){
    .Main-extra-title-container {
        min-height: 30vh;
        padding-bottom: 30px;
     } 
}

@media screen and (min-width: 1330px) and (min-height: 700px){
   .Extra-line-div {
    display: none;
   }
   .Main-text-container {
    height: 30vh;
   }
   .Main-extra-title-container {
    height: 7vh;
   }
   .Main-extra-text-container {
    height: 23vh;
   }
   .Main-extra-title-container, .Main-extra-text-container {
    padding-top: 0;
    padding-bottom: 0;
   }
}

// .Main-text-container {
//     height: 30vh;
// }
// TEST!!!!!!!!!!!

 @media screen and (max-height: 650px){
    .Main-extra-title-container {
        min-height: 30vh;
        padding-bottom: 30px;
     } 
}

 .Extra-line-div {
    width: 70%;
    height: 1.5px;
    background-color: $firstLightColor;
 }


 @media screen and (max-height: 650px){
    .Main-description-container {
        flex-basis: 450px;
    }
    // .Main-text-container {
    //     height: 250px;
    //  }
}

 @media screen and (min-width: 600px){
    .Main-description-container {
        padding-top: 70px;
    }
 }



 .MainTitle {
    text-align: center;
    background: none;
    color: $secondLightColor;
    font-size: 350%;
    width: 100%;
    margin-left: 30px;
    font-weight: 600;
 }

 @media screen and (min-width: 900px){
    .MainTitle {
        font-size: 500%;
     }
}

.MainTitle-list {
    @include inline-container();
    justify-content: center;
}

.Main-text-title {
    text-align: center;
    font-weight: 600;
}



@mixin container-with-opacity {
    background-color: $opacityBlocksColor;
    color: $thirdLightColor;
}

.Main-description-block {
    @include container-with-opacity();
    font-weight: 900;
    height: 90px;
    // width: 150px;
    @include inline-container();
    padding: 5px;
    font-size: 100%;
    text-transform: uppercase;
    width: 60vw;
    // width: 150px;
}

@media screen and (min-width: 500px){
    .Main-description-block {
        font-size: 120%;
        font-weight: 1000;
    }
}

.Second-block {
    // width: 200px;
    width: 70vw;
}

.Third-block {
    // width: 250px;
    width: 80vw;
}

.Fourth-block {
    // width: 250px;
    width: 90vw;
}

@media screen and (min-aspect-ratio: 1.2/1){
    .Main-description-block {
        width: 35vw;
    }
    .Second-block {
        width: 40vw;
    } 
    .Third-block {
        width: 45vw;
    } 
    .Fourth-block {
        // width: 250px;
        width: 50vw;
    }
    // .Main-Container {
    //     flex-direction: row;
    // }
    .Main-carousel-container {
        width: 80vw;
        max-height: 30vw;
    }
    .Main-description-container {
        gap: 40px;
     }
}

// @media screen and (max-aspect-ratio: 4/7.48){
//     .Main-carousel-container {
//         background-color: pink;
//      }
// }

//Advantages styles/////////////////////////////////////////////////////////

.Advantages-container {
    @include inline-container();
    @include standart-page();
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    background-color: $firstLightColor;
}

.Advantages-list {
    color: $secondDetailsColor;
}

.Advantages-list-item {
    list-style-type: square;
    list-style-position: inside;
    color: $thirdLightColor;
}

.Advantages-list-title {
    color: $thirdLightColor;
    margin-bottom: 20px; 
}

.Main-carousel-container {
    width: 80vw;
    min-height: 60vw;
    position: relative;
    // background-color: $darkColor;
    // border: 2px solid $secondDetailsColor;
 }

.Slider-image {
    width: 100%;
    height: 100%;
    min-height: auto;
    position: absolute;
    border: 3px solid $secondDetailsColor;
    // top: 5%;
    // left: 5%;
}


@media screen and (min-width: 1000px){
    .Advantages-container {
    flex-direction: row;
    gap: 40px;    
    }
    .Main-carousel-container {
        width: 500px;
        min-height: 380px;
        // min-height: 29vw;

     }
}


// .Main-carousel-inner-container {
//     min-height: 50vh;
// }

// Footer styles

.Footer-container {
//   background-color: $firstLightColor;
  background-color: $firstDetailsColor;
//   color: $firstDetailsColor;
  border: 2px solid $firstDetailsColor;
  height: 500px;
  color: red;
}
  