* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.Loading-Slider {
  visibility: hidden !important;
}

.App-header {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 15px;
  color: #2d3a4c;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  font-weight: 300;
}

.Visible-Header {
  background-color: #dfe8e8c8;
  position: fixed;
  top: 0;
  left: 0;
}

.Header-nav-container, .Header-link-text {
  display: none;
}

.Full-page-nav {
  background-color: #2d3a4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 50px);
  padding: 30px;
  gap: 20px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 80;
  bottom: 0;
}

.Nav-inner-link {
  text-transform: uppercase;
}

.Header-right-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 130px;
      flex-basis: 130px;
  align-items: center;
}

.Header-language-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
}

.Header-language-button {
  padding: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #2d3a4c;
  background: none;
  border: 1px solid #2d3a4c;
}

.Highlighted-button {
  background-color: #2d3a4c;
  color: #aebcc0;
  border: 1px solid #aebcc0;
}

.Header-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
}

.Header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #2d3a4c;
}

.Header-link :hover {
  color: #f6e145;
}

.Invisible-nav {
  display: none;
}

.Nav-Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  color: #2d3a4c;
}

.Nav-inner-link {
  text-decoration: none;
  color: #2d3a4c;
  color: #aebcc0;
}

.Nav-inner-link :hover {
  color: #f6e145;
}

.Nav-link {
  text-decoration: none;
  color: #2d3a4c;
}

.Nav-link :hover {
  color: #f6e145;
}

.Nav-link:hover {
  color: #f6e145;
  text-decoration: underline;
}

.swiper {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  .Header-nav-container {
    display: block;
  }
  .Header-link-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Header-nav-container {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: space-between;
    color: #2d3a4c;
  }
  .App-header {
    height: 70px;
  }
  .Header-right-content-container {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 5px;
  }
  .Header-links-container {
    width: 400px;
  }
  .Nav-Button {
    display: none;
  }
  .Header-link-mobile-Icon {
    display: none !important;
  }
}

.Promotion-container, .Offices-container {
  padding: 30px;
  background-color: #dfe8e8;
  min-height: 100vh;
}

.Main-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  flex-direction: column;
}

.Main-description-container {
  width: 100%;
  -ms-flex-preferred-size: 70vh;
      flex-basis: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url(./img/main_page_background.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.Main-text-container {
  background-color: #dfe8e8;
  color: #2d3a4c;
  min-height: 30vh;
  width: 100%;
  font-size: 110%;
  padding: 20px;
  text-align: justify;
  border-top: 3px solid #626c74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.Main-extra-title-container, .Main-extra-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.Main-extra-title-container {
  height: 30vh;
  padding-bottom: 90px;
}

.Main-extra-text-container {
  min-height: 15vh;
  padding-top: 0;
  font-size: 90%;
}

@media screen and (max-height: 650px) {
  .Main-extra-title-container {
    min-height: 30vh;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1330px) and (min-height: 700px) {
  .Extra-line-div {
    display: none;
  }
  .Main-text-container {
    height: 30vh;
  }
  .Main-extra-title-container {
    height: 7vh;
  }
  .Main-extra-text-container {
    height: 23vh;
  }
  .Main-extra-title-container, .Main-extra-text-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-height: 650px) {
  .Main-extra-title-container {
    min-height: 30vh;
    padding-bottom: 30px;
  }
}

.Extra-line-div {
  width: 70%;
  height: 1.5px;
  background-color: #2d3a4c;
}

@media screen and (max-height: 650px) {
  .Main-description-container {
    -ms-flex-preferred-size: 450px;
        flex-basis: 450px;
  }
}

@media screen and (min-width: 600px) {
  .Main-description-container {
    padding-top: 70px;
  }
}

.MainTitle {
  text-align: center;
  background: none;
  color: #626c74;
  font-size: 350%;
  width: 100%;
  margin-left: 30px;
  font-weight: 600;
}

@media screen and (min-width: 900px) {
  .MainTitle {
    font-size: 500%;
  }
}

.MainTitle-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Main-text-title {
  text-align: center;
  font-weight: 600;
}

.Main-description-block {
  background-color: #626c7481;
  color: #dfe8e8;
  font-weight: 900;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-size: 100%;
  text-transform: uppercase;
  width: 60vw;
}

@media screen and (min-width: 500px) {
  .Main-description-block {
    font-size: 120%;
    font-weight: 1000;
  }
}

.Second-block {
  width: 70vw;
}

.Third-block {
  width: 80vw;
}

.Fourth-block {
  width: 90vw;
}

@media screen and (min-aspect-ratio: 1.2 / 1) {
  .Main-description-block {
    width: 35vw;
  }
  .Second-block {
    width: 40vw;
  }
  .Third-block {
    width: 45vw;
  }
  .Fourth-block {
    width: 50vw;
  }
  .Main-carousel-container {
    width: 80vw;
    max-height: 30vw;
  }
  .Main-description-container {
    gap: 40px;
  }
}

.Advantages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #dfe8e8;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
  background-color: #2d3a4c;
}

.Advantages-list {
  color: #f6e145;
}

.Advantages-list-item {
  list-style-type: square;
  list-style-position: inside;
  color: #dfe8e8;
}

.Advantages-list-title {
  color: #dfe8e8;
  margin-bottom: 20px;
}

.Main-carousel-container {
  width: 80vw;
  min-height: 60vw;
  position: relative;
}

.Slider-image {
  width: 100%;
  height: 100%;
  min-height: auto;
  position: absolute;
  border: 3px solid #f6e145;
}

@media screen and (min-width: 1000px) {
  .Advantages-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
  .Main-carousel-container {
    width: 500px;
    min-height: 380px;
  }
}

.Footer-container {
  background-color: #93384a;
  border: 2px solid #93384a;
  height: 500px;
  color: red;
}
/*# sourceMappingURL=App.css.map */