// $headerMenuColor: blue;
// $backgroundColor: white;
// $mainFontSize: 90%;
$firstDetailsColor: #93384a;
$secondDetailsColor: #f6e145;
$firstLightColor: #2d3a4c;
$secondLightColor: #626c74;
$thirdLightColor: #dfe8e8;
$darkColor: #aebcc0;
$opacityBlocksColor: #626c7481;
$opacityHeaderColor: #dfe8e8c8;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    max-width: 100%;
    overflow-x: hidden;
    // scroll-behavior: smooth;
    // font-size: $mainFontSize;
  }
  
//   :root {
//     /* --main-font: "Roboto", 'Open Sans', sans-serif; */
//     --main-font-size: 90%;
//     --first-details-color: #93384a;
//     --second-details-color: #ffd24d;
//     --first-light-color: #c6b8b8;
//     --second-light-color: #d6d5d5;
//     --third-light-color: #fdfdfd;
//     --dark-color: #333;
//   }

// Mixins

@mixin desctop-only-items {
    display: none;     
}

@mixin inline-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

@mixin standart-button-styles {
    padding: 2px;
    align-items: center;
    cursor: pointer;
}

@mixin standart-flex-container {
    flex-grow: 0;
    flex-shrink: 0;
}

@mixin link-styles {
    text-decoration: none;
    color: $firstLightColor;
    :hover {
        color: $secondDetailsColor;
    }
}

@mixin standart-page {
    // padding: 90px 30px 30px 30px;
    padding: 30px;
    background-color: $thirdLightColor;
    min-height: 100vh;
}

@mixin icon-positioning {
  position: absolute;
  left: 0;
  right: 0;
}

@mixin flex-adaptive-gaps {
  gap: 30px;
  @media screen and (min-width: 600px){
    gap: 60px;
  }
  @media screen and (min-width: 1000px){
    gap: 90px;
  }
}

.Loading-Slider {
    visibility: hidden!important;
}
  
// Header styles
  
  .App-header {
    // width: 100%;

    background: none;
    // background-color: pink;
    @include inline-container();
    padding: 7px 15px;
    color: $firstLightColor;
    width: 100%;
    height: 50px;
    // position: fixed;
    position: absolute; 
    top: 0; 
    left: 0; 
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    // padding: 0 20px;
    z-index: 90;
    font-weight: 300
  }
  
  .Visible-Header {
   background-color: $opacityHeaderColor;
   position: fixed;
   top: 0;
   left: 0;
  }

  .Header-nav-container , .Header-link-text {
    @include desctop-only-items();
  }

  $navWidth: calc(100% - 50px);

  .Full-page-nav {
    background-color: $firstLightColor;
    display: flex;
    flex-direction: column;
    height: $navWidth;
    // height: $navWidth;
    padding: 30px;
    gap: 20px;
    width: 100%;
    position: fixed; 
    left: 0; 
    bottom: 0; 
    z-index: 80;
    bottom: 0;
  }

  .Nav-inner-link {
    text-transform: uppercase;

  }

  .Header-right-content-container {
    @include inline-container();
    @include standart-flex-container();
    flex-basis: 130px;
    align-items: center;
    
  }

  .Header-language-buttons-container {
    @include inline-container();
    width: 90px;
  }

  .Header-language-button {
    @include standart-button-styles();
    color: $firstLightColor;
    background: none;
    border: 1px solid $firstLightColor;
  }

  .Highlighted-button {
    background-color: $firstLightColor;
    color: $darkColor;
    border: 1px solid $darkColor;
  }

  .Header-links-container {
    @include inline-container();
    width: 80px;
  }

  .Header-link {
    @include inline-container();
    @include link-styles()
  }

  .Invisible-nav {
    @include desctop-only-items()
  }

  .Nav-Button {
    @include inline-container();
    background: none;
    border: none;
    color: $firstLightColor;
  }

  .Nav-inner-link {
    @include link-styles();
    color: $darkColor;
  }

  .Nav-link {
    @include link-styles();
  }

  .Nav-link:hover {
    color: $secondDetailsColor;
    text-decoration: underline;
  }

  .swiper {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
//   .swiper-slide img {
//     display: block;
//     width: 100%;
//   }

  @media screen and (min-width: 750px){
   .Header-nav-container {
        display: block;
    }

    .Header-link-text {
        display: flex;
        justify-content: center;
        align-items: center
      }

    .Header-nav-container {
        // width: 360px;
        width: 380px;
        @include inline-container();
        justify-content: space-between;
        color: $firstLightColor;
    }

    .App-header {
        height: 70px;
    }
    .Header-right-content-container {
        flex-basis: 70%;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
    .Header-links-container {
        width: 380px;
    }
    .Nav-Button {
        display: none;
    }
    .Header-link-mobile-Icon {
        display: none!important;
    }    
    
  }



//   Main styles

 .Promotion-container {
  @include standart-page()
}

@mixin basic-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Main-Container {
    @include basic-flex-container;
    padding-left: 0;
    flex-direction: column;
    // background-position-y: -300px;
}

// @media screen and (min-aspect-ratio: 25/15)and (max-height: 550px){
//     .Main-Container {
//         background-position-y: -300px;
//        background-position-x: 1%;
//     }
//  }

 .Main-description-container {
    width: 100%;
    // @include standart-flex-container;
    flex-basis: 70vh;
    @include basic-flex-container;
    // gap: 20px;
    align-items: flex-start;
    justify-content: space-around;
    background: url(./img/main_page_background.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 20px;
 }

 .Main-text-container {
    background-color: $thirdLightColor;
    color: $firstLightColor;
    // height: 30vh;
    min-height: 30vh;
    width: 100%;
    font-size: 110%;
    padding: 20px;
    text-align: justify;
    border-top: 3px solid $secondLightColor;
    @include inline-container();
    flex-direction: column;
    // gap: 20px
 }

 .Main-extra-title-container, .Main-extra-text-container {
    @include inline-container();
    flex-direction: column;
    justify-content: center;
    gap: 20px;
 }

 .Main-extra-title-container {
    height: 30vh;
    padding-bottom: 90px;
 }

 .Main-extra-text-container {
    min-height: 15vh;
    padding-top: 0;
    font-size: 90%;
 }

//  Test!!!!!!!!!!!!!!!!!

// .Main-extra-title-container, .Main-extra-text-container  {
//     height: 15vh;
//     font-size: 90%!important;
//  }

@media screen and (max-height: 650px){
    .Main-extra-title-container {
        min-height: 30vh;
        padding-bottom: 30px;
     } 
}

@media screen and (min-width: 1330px) and (min-height: 700px){
   .Extra-line-div {
    display: none;
   }
   .Main-text-container {
    height: 30vh;
   }
   .Main-extra-title-container {
    height: 7vh;
   }
   .Main-extra-text-container {
    height: 23vh;
   }
   .Main-extra-title-container, .Main-extra-text-container {
    padding-top: 0;
    padding-bottom: 0;
   }
}

// .Main-text-container {
//     height: 30vh;
// }
// TEST!!!!!!!!!!!

 @media screen and (max-height: 650px){
    .Main-extra-title-container {
        min-height: 30vh;
        padding-bottom: 30px;
     } 
}

 .Extra-line-div {
    width: 70%;
    height: 1.5px;
    background-color: $firstLightColor;
 }


 @media screen and (max-height: 650px){
    .Main-description-container {
        flex-basis: 450px;
    }
    // .Main-text-container {
    //     height: 250px;
    //  }
}

 @media screen and (min-width: 600px){
    .Main-description-container {
        padding-top: 70px;
    }
 }



 .MainTitle {
    text-align: center;
    background: none;
    color: $secondLightColor;
    font-size: 350%;
    width: 100%;
    margin-left: 30px;
    font-weight: 600;
 }

 @media screen and (min-width: 900px){
    .MainTitle {
        font-size: 500%;
     }
}

.MainTitle-list {
    @include inline-container();
    justify-content: center;
}

.Main-text-title {
    text-align: center;
    font-weight: 600;
}



@mixin container-with-opacity {
    background-color: $opacityBlocksColor;
    color: $thirdLightColor;
}

.Main-description-block {
    @include container-with-opacity();
    font-weight: 900;
    height: 90px;
    // width: 150px;
    @include inline-container();
    padding: 5px;
    font-size: 100%;
    text-transform: uppercase;
    width: 60vw;
    // width: 150px;
}

@media screen and (min-width: 500px){
    .Main-description-block {
        font-size: 120%;
        font-weight: 1000;
    }
}

.Second-block {
    // width: 200px;
    width: 70vw;
}

.Third-block {
    // width: 250px;
    width: 80vw;
}

.Fourth-block {
    // width: 250px;
    width: 90vw;
}

@media screen and (min-aspect-ratio: 1.2/1){
    .Main-description-block {
        width: 35vw;
    }
    .Second-block {
        width: 40vw;
    } 
    .Third-block {
        width: 45vw;
    } 
    .Fourth-block {
        // width: 250px;
        width: 50vw;
    }
    // .Main-Container {
    //     flex-direction: row;
    // }
    .Main-carousel-container {
        width: 80vw;
        max-height: 30vw;
    }
    .Main-description-container {
        gap: 40px;
     }
}

// @media screen and (max-aspect-ratio: 4/7.48){
//     .Main-carousel-container {
//         background-color: pink;
//      }
// }

//Advantages styles/////////////////////////////////////////////////////////

.Advantages-container {
    @include inline-container();
    @include standart-page();
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    background-color: $firstLightColor;
}

.Advantages-list {
    color: $secondDetailsColor;
}

.Advantages-list-item {
    list-style-type: square;
    list-style-position: inside;
    color: $thirdLightColor;
}

.Advantages-list-title {
    color: $thirdLightColor;
    margin-bottom: 20px; 
}

.Main-carousel-container {
    width: 80vw;
    min-height: 60vw;
    position: relative;
    // background-color: $darkColor;
    // border: 2px solid $secondDetailsColor;
 }

.Slider-image {
    width: 100%;
    height: 100%;
    min-height: auto;
    position: absolute;
    border: 3px solid $secondDetailsColor;
    // top: 5%;
    // left: 5%;
}


@media screen and (min-width: 1000px){
    .Advantages-container {
    flex-direction: row;
    gap: 40px;    
    }
    .Main-carousel-container {
        width: 500px;
        min-height: 380px;
        // min-height: 29vw;

     }
}


// Offices styles

.Floor-container {
  @include basic-flex-container();
  // padding: 0
}

.Floor-title-container {
  @include basic-flex-container();
  flex-direction: row;
  gap: 10px;
  background-color: $darkColor;
  width: 100vw;
  justify-content: center;
  padding: 20px 10px 0 10px;
}

.Floor-title-icon-container {
  position: relative;
  height: 200px;
  @include standart-flex-container();
  flex-basis: 80px;
  // height: 170px;
}

.House-icon {
  @include icon-positioning();
  // width: 130px;
}

.House-window-icon {
  @include icon-positioning();
  left: 15px;
  width: 32px;
  // display: none;
}

.Third-Floor-Window-Icon {
  top: 68px;
 
}

.Second-Floor-Window-Icon {
  top: 102px;
 
}

.Fourth-Floor-Window-Icon {
  top: 34px;
}

.Floor-title {
  font-weight: 600;
  font-size: 150%;
  text-align: center;
  text-transform: uppercase;
  color: $firstLightColor;
}

@media screen and (min-width: 500px){
  .Floor-title {
    font-size: 200%;
  }
}

@media screen and (min-width: 1000px){
  .Floor-title {
    font-size: 300%;
    margin-left: 20px;
  }
}

.Floor-Plan-Link {
  // border-bottom: 1px solid $darkColor;
  // border-top: 1px solid $darkColor;
  margin: 30px 0;
  padding: 30px 0;
  // margin: 0 30px;
}

.Floor-Plan-Extra-Container {
  position: relative;
}

.Main-Image {
  width: 270px;
  min-height: 100px;
  
  visibility: hidden;
}

.Full-Image {
  visibility: visible;
}

.First-Part, .Second-Part, .Third-Part, .Fourth-Part, .Fifth-Part, .Sixth-Part , .Part_61_2, .Part_22_0, .Part_21_2, .Part_19_6,
.Part_21_0, .Part_41_0, .Part_22_9, .Part_40_0, .Part_Extra, .Part_39_5, .Part_21_1, .Part_22_0_2 {
  position: absolute;
}

.First-Part {
  width: 62px;
  top: 5px;
  left: 12px;
}

.Second-Part {
  width: 18.5px;
  top: 5px;
  left: 73.7px;
}

.Third-Part {
  width: 40px;
  top: 5px;
  left: 91px;
}

.Main-Fourth-Part {
  width: 80px;
  top: 5px;
  left: 130px;
}

.Extra-Fourth-Part {
  width: 49px;
  top: 39px;
  left: 209px;
}

.Fifth-Part {
  width: 69px;
  top: 46.5px;
  left: 12px;
}

.Sixth-Part {
  width: 70px;
  top: 46px;
  left: 80.5px;
}


.First-Third-Part {
  width: 138px;
  top: 25px;
  left: 12px;
}

.Second-Third-Part {
  width: 61px;
  top: 25.5px;
  left: 148px;
}

.Third-Third-Part {
  width: 47px;
  top: 60.5px;
  left: 208px;
}



.Part_61_2 {
  width: 32px;
  top: 30px;
  left: 13px;
}

.Part_22_0 {
  width: 19.5px;
  top: 30.5px;
  left: 34px;
}

.Part_21_2 {
  width: 18.8px;
  top: 30.5px;
  left: 52.5px;
}

.Part_19_6 {
  width: 19px;
  top: 30.5px;
  left: 70px;
}

.Part_21_0 {
  width: 19.7px;
  top: 30.5px;
  left: 88px;
}

.Part_41_0 {
  width: 37.8px;
  top: 30.5px;
  left: 107px;
}

.Part_22_9 {
  width: 21.5px;
  top: 30.8px;
  left: 144px;
}

.Part_40_0 {
  width: 39px;
  top: 30.8px;
  left: 164px;
}

.Part_Extra {
  width: 129px;
  top: 63.8px;
  left: 125px;
}

.Part_39_5 {
  width: 47px;
  top: 73.8px;
  left: 80px;
}

.Part_21_1 {
  width: 28.9px;
  top: 74px;
  left: 51.5px;
}

.Part_22_0_2 {
  width: 20px;
  top: 74px;
  left: 34.5px;
}


@media screen and (min-width: 500px){
  .Main-Image {
    width: 490px;
    min-height: 195px;
    // visibility: visible;
  }
  .First-Part {
    width: 111px;
    top: 8px;
    left: 22.5px;
  }
  .Second-Part {
    width: 32.5px;
    top: 8px;
    left: 133px;

  }
  .Third-Part {
    width: 71px;
    top: 8px;
    left: 164px;
  }

  .Main-Fourth-Part {
    width: 143px;
    top: 8px;
    left: 232px;
  }

  .Extra-Fourth-Part {
    width: 90px;
    top: 68px;
    left: 375px;
  }
  
  .Fifth-Part {
    width: 124px;
    top: 83.5px;
    left: 22px;
  }
  
  .Sixth-Part {
    width: 124.5px;
    top: 84px;
    left: 144.5px;
  }


  .First-Third-Part {
    width: 250px;
    top: 47px;
    left: 20.5px;
  }

  .Second-Third-Part {
    width: 110px;
    top: 47.5px;
    left: 268px;
  }

  .Third-Third-Part {
    width: 85px;
    top: 111px;
    left: 376px;
  }


  .Part_61_2 {
    width: 60px;
    top: 54px;
    left: 24px;
  }
  
  .Part_22_0 {
    width: 36.5px;
    top: 55px;
    left: 64px;
  }
  
  .Part_21_2 {
    width: 35px;
    top: 55px;
    left: 99px;
  }
  
  .Part_19_6 {
    width: 35.5px;
    top: 55px;
    left: 132px;
  }
  
  .Part_21_0 {
    width: 37px;
    top: 55px;
    left: 166px;
  }
  
  .Part_41_0 {
    width: 71px;
    top: 55px;
    left: 202px;
  }
  
  .Part_22_9 {
    width: 41px;
    top: 55px;
    left: 271px;
  }
  
  .Part_40_0 {
    width: 74px;
    top: 55px;
    left: 311px;
  }
  
  .Part_Extra {
    width: 241px;
    top: 118px;
    left: 237px;
  }
  
  .Part_39_5 {
    width: 89px;
    top: 135px;
    left: 150px;
  }
  
  .Part_21_1 {
    width: 54.5px;
    top: 136px;
    left: 97px;
  }
  
  .Part_22_0_2 {
    width: 38px;
    top: 135px;
    left: 60px;
  }
  
}

@media screen and (min-width: 900px){
  .Main-Image {
    width: 890px;
    // visibility: visible;
  }
  .First-Part {
    width: 202px;
    top: 14px;
    left: 40.5px;
  }
  .Second-Part {
    width: 60px;
    top: 13.5px;
    left: 241px;

  }
  .Third-Part {
    width: 129.5px;
    top: 14px;
    left: 300px;
  }
  
  .Main-Fourth-Part {
    width: 262px;
    top: 14px;
    left: 425px;
  }

  .Extra-Fourth-Part {
    width: 164px;
    top: 124.5px;
    left: 685px;
  }
  
  .Fifth-Part {
    width: 228px;
    top: 159px;
    left: 40px;
  }
  
  .Sixth-Part {
    width: 229.2px;
    top: 159px;
    left: 265.5px;
  }


  .First-Third-Part {
    width: 459px;
    top: 87px;
    left: 40.5px;
  }

  .Second-Third-Part {
    width: 204px;
    top: 87.5px;
    left: 496px;
  }

  .Third-Third-Part {
    width: 162px;
    top: 203px;
    left: 697px;
  }


  .Part_61_2 {
    width: 107px;
    top: 98px;
    left: 44px;
  }
  
  .Part_22_0 {
    width: 65px;
    top: 101px;
    left: 116px;
  }
  
  .Part_21_2 {
    width: 63px;
    top: 101px;
    left: 180px;
  }
  
  .Part_19_6 {
    width: 64px;
    top: 101px;
    left: 242px;
  }
  
  .Part_21_0 {
    width: 67px;
    top: 100px;
    left: 304px;
  }
  
  .Part_41_0 {
    width: 128px;
    top: 100px;
    left: 367px;
  }
  
  .Part_22_9 {
    width: 73px;
    top: 101px;
    left: 490px;
  }
  
  .Part_40_0 {
    width: 131px;
    top: 100px;
    left: 560px;
  }
  
  .Part_Extra {
    width: 429px;
    top: 212px;
    left: 423px;
  }
  
  .Part_39_5 {
    width: 156.5px;
    top: 246px;
    left: 271px;
  }
  
  .Part_21_1 {
    width: 96px;
    top: 246px;
    left: 178.9px;
  }
  
  .Part_22_0_2 {
    width: 66px;
    top: 246px;
    left: 115px;
  }
}



.Floor-Plan-Hover-Image:hover {
  filter: contrast(150%)
}

.Fourth-Part-Hover {
  filter: contrast(150%)
}


// Floor details styles

.Floor-Details-Main-Container {
  @include standart-page();
  @include inline-container();
  @include flex-adaptive-gaps();
  flex-direction: column;
  padding-top: 60px;
  // gap: 30px;
  justify-content: flex-start;
  // background-color: red;
  @media screen and (min-width: 600px){
    padding-top: 90px;
    // gap: 60px;
  }
  @media screen and (min-width: 1000px){
    padding-top: 120px;
    gap: 50px;
  }
}

.Floor-Details-Title-Container {
  @include inline-container();
  flex-direction: column;
  color: $firstLightColor;
  gap: 10px;
  background-color: $secondDetailsColor;
  padding: 5px;
  width: 100%;
  @media screen and (min-width: 700px){
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
  }
}

//+

.Floor-Details-Title {
  font-size: 130%;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}

@media screen and (min-width: 900px){
  .Floor-Details-Title {
    // font-size: 200%;
  }
  .Floor-Details-Status {
    font-size: 130%;
  }
}

.Floor-Details-Content-Container {
  @include inline-container();
  @include flex-adaptive-gaps();
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  @media screen and (min-width: 600px){
    flex-direction: row;
    width: 1200px;
  }
}

.Floor-Extra-Advantages-Container {
  padding-top: 30px;
  border-top: 3px solid $secondDetailsColor;
  @media screen and (min-width: 600px){
    width: 1200px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media screen and (min-width: 1260px){
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.Floor-Advantages-List-Item {
  list-style-type: disc;
  list-style-position: inside;
  @media screen and (min-width: 850px){
    font-size: 110%;
  }
}

.Floor-Inner-Image-Extra-Container {
  @include inline-container();
  flex-direction: column;
}

.Floor-Second-Inner-Image-Extra-Container {
  margin-top: -30px;
}

.Floor-Inner-Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 35px;
  height: 180px;
  width: 300px;
  overflow: visible;
}

@media screen and (min-width: 600px) {
  
  .Floor-Inner-Image-Extra-Container {
    position: relative;
    width: 520px;
    height: 130px;
  }
  
  .Floor-Inner-Image {
    position: absolute;
    top: 0;
    height: 120px;
    width: 160px;
    padding: 20px;
  }
  
  .Floor-Inner-Firt-Image {
    left: 0;
  }
  
  .Floor-Inner-Second-Image {
    left: 180px
  }
  
  .Floor-Inner-Third-Image {
    left: 350px
  }  

}


@media screen and (min-width: 860px) {
  
  .Floor-Inner-Image-Extra-Container {
    width: 800px;
    height: 220px;
  }
  
  .Floor-Inner-Image {
    height: 190px;
    width: 260px;
    padding: 45px
  }
  
  .Floor-Inner-Firt-Image {
    left: 0;
    overflow: visible!important;
  }
  
  .Floor-Inner-Second-Image {
    left: 273px
  }
  
  .Floor-Inner-Third-Image {
    left: 546px
  }  

}


@media screen and (min-width: 1260px) {
  
  .Floor-Inner-Image-Extra-Container {
    width: 1200px;
    height: 300px;
    overflow: visible;
  }
  
  .Floor-Inner-Image {
    height: 260px;
    width: 386.5px;
  }
  
  .Floor-Inner-Firt-Image {
    left: 0;
  }
  
  .Floor-Inner-Second-Image {
    left: 406.5px;
  }
  
  .Floor-Inner-Third-Image {
    left: 813px;
  }  

}

.Floor-Details-Status {
  @include inline-container();
  gap: 4px;
  font-weight: 700;
}



// Contacts styles

.Contacts-Container {
  @include inline-container();
  @include standart-page();
  // @include flex-adaptive-gaps();
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  background-color: $firstLightColor;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    min-height: min-content;
    padding: 60px;
    gap: 30px;
  }
}

.Contacts-Extra-Container {
  @include inline-container();
  flex-direction: column;
  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
    width: 600px;
  }
}

.Contacts-Form-Container {
  @include inline-container();
  flex-direction: column;
  gap: 20px;
  // border: 2px solid red;
}

.Contacts-Map-Container {
  background-color: $darkColor;
  height: 300px;
  width: 100%;
  @media screen and (min-width: 1024px) {
    height: 420px;
  }
}

.Contacts-Form-Title , .Contacts-Form-Button {
  font-size: 90%;
  color: $darkColor;
  @media screen and (min-width: 430px) {
    font-size: 100%;
  }   
}

.Contacts-Form-Button {
  padding: 3px;
  color: $firstLightColor;
  background-color: $thirdLightColor;
  border: none;
  font-weight: 600;
}

.Contacts-Form-Button:hover {
  background-color: $secondDetailsColor;
}

.Contacts-Form {
  position: relative;
  width: 220px;
  height: 280px;
  overflow: hidden!important;
}

.Contacts-Form-House-Icon, .Contacts-Form-Window-Icon, .Contacts-Form-Input {
  position: absolute;
  top: 10;
  left: 0;
}

.Contacts-Form-House-Icon {
  width: 217px;
  height: 275px;
}

.Contacts-Form-Window-Icon {
  width: 149px;
  left: 33px;
  visibility: hidden;
}

.Contacts-Form-Input {
  width: 149px;
  height: 60px;
  left: 29px;
  padding: 9px;
  margin-top: 9px;
  font-size: 65%;
  background: none!important;
  border: none!important;
  color: $firstLightColor!important;
  resize: none;
}

.Contacts-Form-Input:focus {
  outline: none;
  background: none;
  color: $firstLightColor;
  overflow-y: auto;
}

.Activated-Input {
  visibility: visible;
}

.First-Window-Icon, .First-Form-Input {
  top: 13px;
}

.Second-Window-Icon, .Second-Form-Input {
  top: 94px;
}

.Third-Window-Icon, .Third-Form-Input {
  top: 182px;
}



@media screen and (min-width: 430px) {
  .Contacts-Form {
    width: 340px;
    height: 420px;
  }
  

  .Contacts-Form-House-Icon {
    width: 337px;
    height: 420px;
  }
  
  .Contacts-Form-Window-Icon {
    width: 223px;
    left: 49px;
  }
  
  .Contacts-Form-Input {
    height: 82px;
    width: 223px;
    left: 49px;
    padding: 10px;
    font-size: 80%;
  }

  .First-Window-Icon, .First-Form-Input {
    top: 18px;
  }
  
  .Second-Window-Icon, .Second-Form-Input {
    top: 150px;
  }
  
  .Third-Window-Icon, .Third-Form-Input {
    top: 280px;
  }
  
}

.Contacts-Information-Container {
  @include inline-container();
  min-height: 230px;
  // height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  @media screen and (min-width: 1024px) {
    width: 350px;
    margin-right: 30px;
  }

}

.Contacts-link {
  color: $thirdLightColor;
  @include link-styles();
}

.Contacts-item {
  color: $thirdLightColor;
}

@media screen and (min-width: 1280px) {
  .Contacts-Form-Container {
    width: 450px;
    margin-left: 30px;
  }
  .Contacts-Extra-Container {
    width: 100%
  }
  .Contacts-Information-Container {
    width: 400px;
  }
}




// Footer styles

.Footer-Container {
  background-color: $darkColor;
  min-height: 200px;
  color: $thirdLightColor;
  width: 100%;
  padding: 20px;
  @include inline-container();
  flex-direction: column;
  gap: 15px
}

.Footer-Contacts-Container , .Footer-Menu-Container {
  @include inline-container();
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 10px;
}


.Footer-Contact-Link {
  color: $thirdLightColor;
  height: 30px;
}

.Footer-Contact-Link:hover {
  border-bottom: 2px solid $secondDetailsColor;
}

.Footer-Contact-Nav-Link , .Footer-Contact-Item {
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 10px;
}

.Footer-Contact-Nav-Link {
  color: $firstLightColor
}

.Footer-Buttons-Container {
  @include inline-container();
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px
}

.Footer-Link-Button {
  @include link-styles();
  @include inline-container();
  border: 2px solid $secondDetailsColor;
  padding: 5px;
  height: 60px;
  color: $secondDetailsColor;
}

.Footer-Link-Button:hover {
  background-color: $firstLightColor;
}

.First-Link-Button {
  width: 180px;
}

.Second-Link-Button {
  width: 200px;
}

.Third-Link-Button {
  width: 220px;
}


@media screen and (min-width: 630px) {
  .Footer-Container {
    flex-direction: row;
  }
  .Footer-Contacts-Container {
    min-width: 220px;
  }
  .Footer-Buttons-Container {
    min-width: 220px;
  }
}

@media screen and (min-width: 800px) {
  .Footer-Container {
    justify-content: space-evenly;
    align-items: flex-start;
    // padding: 10px 10%;
  }
  .Footer-Contacts-Container {
    width: 230px;
    height: 100%;
  }
  .Footer-Buttons-Container {
    width: 220px;
  }
  .Footer-Menu-Container {
    width: 220px;
  }
 
}

@media screen and (min-width: 1200px) { 
  .Footer-Buttons-Container {
    width: 380px
  }

  .Footer-Contacts-Container {
    width: 350px;
  }
  
  .First-Link-Button {
    width: 300px;
  }
  
  .Second-Link-Button {
    width: 340px;
  }
  
  .Third-Link-Button {
    width: 380px;
  }
}

.Footer-Site-Developer {
  text-decoration: underline;
}

.Site-Developer-Link:hover {
  color: $secondDetailsColor;
}

// .Footer-First-Link {
//   border-left: 40px solid $firstLightColor;
  
// }
// .Footer-Second-Link {
//   border-left: 60px solid $firstLightColor;
// }
// .Footer-Third-Link {
//   border-left: 80px solid $firstLightColor;
// }
// .Footer-Fourth-Link {
//   border-left: 100px solid $firstLightColor;
// }
// .Footer-Fifth-Link {
//   border-left: 120px solid $firstLightColor;
// }

// .Footer-Menu-Container {
//   @include inline-container();
//   flex-direction: column;
//   align-items: flex-start;
// }


  